# OpenSSL config file for generating CA with name constraints.
# https://github.com/tmaher/garden/tree/master/ssl

HOME                    = $ENV::HOME/garden/ssl
PRIVATE                 = $ENV::HOME/private/ssl
RANDFILE                = $PRIVATE/rand/randfile-global



[ req ]
default_bits            = 2048
default_keyfile         = tursom-scoped-ca.key
distinguished_name      = req_distinguished_name
x509_extensions         = scoped_ca_req
prompt                  = no
string_mask             = nombstr
default_md              = sha256



[ req_distinguished_name ]
countryName             = US
stateOrProvinceName     = California
localityName            = San Francisco
0.organizationName      = Tursom Foundation
commonName              = Tursom Foundation Scoped CA, $ENV::TIMESTAMP



[ scoped_ca_req ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints        = critical,CA:true
nameConstraints         = critical,permitted;DNS:tursom.com;DNS:tursom.org;DNS:tursom.net;DNS:tursom.us;DNS:sqlbijection.com;DNS:sqlbijection.org;DNS:sqlbijection.net;DNS:thomaskmaher.com;DNS:tkmaher.com
